version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: pr-reviewer-app
    ports:
      - "${APP_PORT}:8080"
    depends_on:
      - db
    command: ["./pr-reviewer"]
    restart: unless-stopped
  
  db:
    image: postgres:15
    container_name: pr-reviewer-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  migrator:
    build:
      context: backend-admin-panel/goose
    volumes:
      - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: postgres://postgres:postgres@db:5432/pr_reviewer?sslmode=disable
    working_dir: /migrations
    command: up
    healthcheck:
      test: ["CMD-SHELL", "exit 0"]

  
volumes:
  pgdata: